#footer {
}

#infos_block {
	padding: 0px;
	margin-top: 15px;
}

#infos_pdw {
	border-right: 2px dotted grey;
	float: left;
	padding-right: 12px;
	width: 500px;
}

#last_blog {
	float: right;
	width: 500px;
}
