#footer {
	border-top: 3px dotted black;
}

#footer h1 {
	font-family: 'Cantarell';
	font-size: 17pt;
}

#footer img {
	float: right;
}

#infos_block {
	padding: 0px;
	margin-top: 15px;
}

#infos_pdw {
	border-right: 2px dotted grey;
	float: left;
	padding-right: 12px;
	width: 500px;
}

#last_blog {
	float: right;
	width: 500px;
}
