#footer {
}

#front_block {
	border-bottom: 3px dotted black;
	border-top: 3px dotted black;
	height: 400px;
	/* margin-bottom: 10px; */
}

#front_block ul li {
	list-style: none;
}

#front_last_mags {
	float: right;
}

#front_last_mags li {
	border: 1px solid black;
	margin: 10px;
	height: 120px;
	width: 80px;
}

#front_mag_couv {
	border: 1px solid black;
	float: left;
	margin-top: 45px;
	margin-bottom: 45px;
	margin-left: 10px;
	margin-right: 10px;
	height: 300px;
	width: 250px;
}

#infos_block {
	padding: 0px;
	margin-top: 15px;
}

#infos_pdw {
	border-right: 2px dotted grey;
	float: left;
	padding-right: 12px;
	width: 500px;
}

#last_blog {
	float: right;
	width: 500px;
}
